In [ ]:
import numpy as np
import pandas as pd
import io

from google.colab import files
uploaded = files.upload()
data = pd.read_csv(io.BytesIO(uploaded ['mtcars_dados_ausentes.csv']))

Saving mtcars_dados_ausentes.csv to mtcars_dados_ausentes.csv

In [ ]:
data.head(10)
data.describe()

             mpg        cyl        disp  ...         am       gear       carb
count  32.000000  32.000000   32.000000  ...  32.000000  32.000000  30.000000
mean   20.090625   6.187500  230.721875  ...   0.406250   3.687500   2.733333
std     6.026948   1.785922  123.938694  ...   0.498991   0.737804   1.638614
min    10.400000   4.000000   71.100000  ...   0.000000   3.000000   1.000000
25%    15.425000   4.000000  120.825000  ...   0.000000   3.000000   2.000000
50%    19.200000   6.000000  196.300000  ...   0.000000   4.000000   2.000000
75%    22.800000   8.000000  326.000000  ...   1.000000   4.000000   4.000000
max    33.900000   8.000000  472.000000  ...   1.000000   5.000000   8.000000

[8 rows x 11 columns]

In [ ]:
#mediana
median= data ['drat'].mode()
print (median)

0    3.07
1    3.92
dtype: float64

In [ ]:
#moda
mode=data ['drat'].mode()
print(mode)

0    3.07
1    3.92
dtype: float64

In [ ]:
from sklearn.preprocessing import MinMaxScaler
datacopy = data.copy()
datacopy['drat']

0     3.90
1     3.90
2     3.85
3     3.08
4     3.15
5     2.76
6     3.21
7     3.69
8     3.92
9     3.92
10    3.92
11    3.07
12    3.07
13    3.07
14    2.93
15    3.00
16    3.23
17    4.08
18    4.93
19    4.22
20    3.70
21    2.76
22    3.15
23    3.73
24    3.08
25    4.08
26    4.43
27    3.77
28    4.22
29    3.62
30    3.54
31    4.11
Name: drat, dtype: float64

In [ ]:
minMax = MinMaxScaler()
datacopy[['drat']]= minMax.fit_transform(datacopy[['drat']])

print(datacopy)

                  model   mpg  cyl   disp   hp  ...   qsec   vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46  NaN   1     4   4.0
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02  NaN   1     4   4.0
2            Datsun 710  22.8    4  108.0   93  ...  18.61  1.0   1     4   1.0
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44  1.0   0     3   1.0
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02  NaN   0     3   2.0
5               Valiant  18.1    6  225.0  105  ...  20.22  1.0   0     3   1.0
6            Duster 360  14.3    8  360.0  245  ...  15.84  NaN   0     3   4.0
7             Merc 240D  24.4    4  146.7   62  ...  20.00  1.0   0     4   2.0
8              Merc 230  22.8    4  140.8   95  ...  22.90  1.0   0     4   2.0
9              Merc 280  19.2    6  167.6  123  ...  18.30  1.0   0     4   NaN
10            Merc 280C  17.8    6  167.6  123  ...  18.90  1.0   0     4   4.0
11           Merc 450SE  16.4    8  275.8  180  ...  17.40  NaN   0     3   3.0
12           Merc 450SL  17.3    8  275.8  180  ...  17.60  NaN   0     3   3.0
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00  NaN   0     3   3.0
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98  NaN   0     3   4.0
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82  NaN   0     3   4.0
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42  NaN   0     3   NaN
17             Fiat 128  32.4    4   78.7   66  ...  19.47  1.0   1     4   1.0
18          Honda Civic  30.4    4   75.7   52  ...  18.52  1.0   1     4   2.0
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90  1.0   1     4   1.0
20        Toyota Corona  21.5    4  120.1   97  ...  20.01  1.0   0     3   1.0
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87  NaN   0     3   2.0
22          AMC Javelin  15.2    8  304.0  150  ...  17.30  NaN   0     3   2.0
23           Camaro Z28  13.3    8  350.0  245  ...  15.41  NaN   0     3   4.0
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05  NaN   0     3   2.0
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90  1.0   1     4   1.0
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70  NaN   1     5   2.0
27         Lotus Europa  30.4    4   95.1  113  ...  16.90  1.0   1     5   2.0
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50  NaN   1     5   4.0
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50  NaN   1     5   6.0
30        Maserati Bora  15.0    8  301.0  335  ...  14.60  NaN   1     5   8.0
31           Volvo 142E  21.4    4  121.0  109  ...  18.60  1.0   1     4   2.0

[32 rows x 12 columns]